* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  background: linear-gradient(117.13deg, #051439 0.44%, #3B2570 53.85%, #383572 85.16%);
}

section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(117.13deg, #051439 0.44%, #3B2570 53.85%, #383572 85.16%);
  overflow-x: hidden;
  overflow-y: scroll;

  h1 {
    font-family: Norwester;
    font-size: 100px;
    color: #F05183;
    text-shadow: 8px 8px 0px #642D5A;
  }
}

@font-face {
  font-family: 'Norwester';
  src: url('assets/fonts/Norwester.woff2') format('woff2'),
      url('assets/fonts/Norwester.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}